@import "colors.scss";

footer{
    height: 3.25em;
    width: 100%;
    background-color: $primary-color;
    font-size: 50px;
    text-align: center;
    color: $color-text1;
    margin: 0;
}
.face{
    color: $secondary-color;
}
.insta{
    color: $color-text1
}
.what{
    color: rgb(13, 219, 13);
}
.footerContacto{
    list-style: none;
}
.twit{
    color: rgb(9, 118, 243);
}
.LineBlock{
    display: inline-block;
    margin-top: 20px;
    padding-left: 30px;
}
.copyr{
    font-size: 20px;
}
